.rootAnnouncements {
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 1rem;
    height: 80vh;
    margin: 0 1rem;
    width: 50%;
}

.announcements {
    background-color: #eecdcd;
    padding: 1rem;
    width: 100%;
    line-height: 270%;
    overflow: hidden;
    height: 56vh;
}

.announcementsList{
    font-size: 1.5rem;
    overflow: scroll;
    height: 100%;
    width: 100%;
}

.announcements ul {
    list-style-type: square;
}

.announcements h2 {
    color: #731E1C;
    /*letter-spacing: 0.4rem;*/
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
}

.buttonLink {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    text-align: center;
    font-size: 1.25rem;
    color: white;
    border: white 1px solid;
    height: 100%;
    cursor: pointer;
}

.buttonLink:hover {
    background-color: #731e1c;
    transition: background-color 150ms linear;
}

.btnContainer {
    background: #A35B5B;
    display: flex;
    justify-content: space-evenly;
    margin: 1rem 0;
    height: 10vh;
    align-items: center;
}

.announcementsList::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}

.announcementsList::-webkit-scrollbar-thumb
{
    background-color: #731E1C;
}