.heading-panel{
    margin-top: 4rem;
    background: #f5f5f5;
    padding: 3rem;
    text-align: end;
}

.heading{
    margin-right: 6rem;
    font-family: Montserrat, sans-serif;
    font-size: 2.5rem;
    letter-spacing: 0.25rem;
}

.heading span{
    font-size: 3.5rem;
}

.heading-panel .heading{
    margin-left: 5rem;
}

.about-container1{
    background: #f0f0f0;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
}

.about-container2{
    padding: 2rem;
    display: flex;
    background: #f5f5f5;
    align-items: center;
    justify-content: space-evenly;
}

.content{
    width: 51vw;
    text-align: justify;
    padding-left: 3rem;
    /*padding-right: 17.5rem;*/
    font-family: monospace;
}

.content .heading h3{
    text-transform: uppercase;
    margin-top: 1rem;
    margin-bottom: 2rem;
    width: 100%;
    color: #731E1C;
    font-weight: bold;
}

.image-container img{
    height: 30rem;
    width: 25rem;
    margin-left: 5rem;
    margin-bottom: 2rem;
    margin-top: -3.5rem;
    box-shadow: 20px 20px rgba(140, 140, 140, 0.17);
    border-radius: 10px;
}


.about-container2 img{
    border-radius:  100%;
    padding-left: 2rem;
}

.pdc-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1.2rem;
}

@media all and (max-width: 1214px){
    .about-container2 img{
        height: 70%;
        width: 40%;
    }
    .content .heading h3{
        letter-spacing: 0;
    }
}

@media all and (max-width: 1050px) {
    .content .heading h3{
        font-size: 1.3rem;
    }
    .image-container img{
        height: 20rem;
        width: 15rem;
    }
}

@media all and (max-width: 851px) {
    .content{
        padding-left: 0;
        width: 100%;

        text-align: center;
        padding-right: 0;
        font-size: 16px;
    }
    .about-container2{
        flex-direction: column-reverse;
    }
    .about-container2 img{
        height: 100%;
        width: 70%;
        margin-bottom: 2rem;
    }

    .content .heading h3{
        margin-left: 2.9rem;
    }
    .heading-panel .heading{
        text-align: center;
        margin-left: 11rem;
    }
    .about-container1{
        flex-direction: column;
    }
    .heading span{
        font-size: 1.5rem;
    }

    .heading-panel .heading{
        font-size: 1rem;
    }

    .pdc-logo{
        height: 25rem;
        width: 35rem;
    }
}

@media all and (max-width: 553px) {
    .content{
        font-size: 14px;
    }
    .content .heading h3 {
        font-size: 1rem;
    }

    .heading span{
        font-size: 1.2rem;
    }

    .heading-panel .heading{
        font-size: 0.8rem;
        margin-left: 0;
        margin-right: 0;
        padding-bottom: 0.8rem;
    }
    .image-container img{
        height: 15rem;
        width: 10rem;
    }
    .image-container img{
        margin-left: 0;
    }
    .about-container2 img{
        height: 100%;
        width: 100%;
    }
    .pdc-logo{
        height: 11rem;
        width: 18rem;
    }
}
