.course {
    /*background: #BFBEBD;*/
    background: rgba(191, 190, 189, 0.5);
    display: flex;
    font-family: Montserrat, sans-serif;
}

.course:hover{
    background: #731e1c;
    color: #fff;
}
.arrows{
    position: absolute;
    left: 19.6rem;
    bottom: 0.3rem;
    font-weight: bolder;
    font-size: 2rem;
}
.card-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.card-button button{
    color: white;
    background: #8c3839;

    position: absolute;
    left: 14rem;
    bottom: 0.5rem;
}
.card-button button:hover{
    color:  #731e1c;
    background: white;
}

@media all and (max-width: 391px){
    .card-button button{
        left: 6.4rem;
    }
    .arrows{
        left: 12.5rem;
    }
}
