.course {
    /*background: #BFBEBD;*/
    background: rgba(191, 190, 189, 0.5);
    display: flex;
    font-family: Montserrat, sans-serif;
}

.course:hover{
    background: #731e1c;
    color: #fff;
}

.card-button {
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.card-button button{
    color: white;
    background: #8c3839;
}

.card-button button:hover{
    color:  #731e1c;
    background: white;
}
