.coursePageRoot {
    justify-content: center;
    font-family:Lato, sans-serif;
    padding: 1rem;
    width: 100%;
    display: flex;
}

.courseInfo {
    /*border: solid 3px #731E1C;*/
    height: 86vh;
    padding: 0;
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5rem 2rem 2rem;
    width: 60%;
}

.courseInfo a {
    cursor: pointer;
    text-decoration: none;
    color: #731E1C;
}

.courseInfo a:hover {
    color: black;
    transition: color 200ms linear;
}

.courseInfoTxt {
    overflow: auto;
    height: 60%;
    border-top: none;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    margin: 1rem;
    /*padding: 1rem;*/
}

.courseInfoTxt ul {
    color: #0000008C;
}

.courseInfoTxt h2 {
    font-weight: bold;
    color: #0000008C;
}

.courseInfoTxt h1 {
    font-weight: bolder;
    align-self: start;
    color: #731E1C;
}


.courseInfoTxt::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}

.courseInfoTxt::-webkit-scrollbar-thumb
{
    background-color: #731E1C;
}

.coursePayment {
    background: #eecdcd;
    line-height: 3rem;
    align-items: center;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    margin: 5rem 0 2rem;
    width: 25%;
    height: 86vh;
}

.coursePayment h2 {
    font-size: 1.7rem;
    font-weight: bolder;
    color: #731E1C;
}

.coursePayment ul {
    line-height: 170%;
    color: #0000008C;
}

.coursePrice {
    margin-top: 1rem;
}

.courseInfoImg {
    border: none;
    width: 100%;
    height: 40%;
    display: flex;
    justify-content: center;
    padding: 0;
}

.courseInfo img {
    /*align-self: center;*/
    border: none;
    margin: 0;
    height: 100%;
    width: auto;
    padding: 0;
}

.readMore {
    display: none;
}

.btn {
    font-weight: bolder;
    width: 60%;
    color: #731E1C;
    border: #731E1C solid ;
}

.btn:hover{
    background: rgb(115, 30, 28);
    color: white;
}

.btn-outline-success:hover {
    background: #731E1C !important;
    border: #731E1C solid ;
}

.btn:focus,.btn:active {
    outline: none !important;
    box-shadow: none;
}


@media all and (max-width: 1185px) {
    .coursePayment {
        width: 26%;
    }
}

@media all and (max-width: 921px) {
    .coursePayment {
        width: 30%;
    }
}

@media all and (max-width: 864px) {
    .coursePageRoot {
        justify-content: center;
        align-items: center;
        flex-direction: column;
        height: 100%;
    }

    .courseInfo {
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .courseInfoTxt h1{
        font-size: 2rem;
    }

    .courseInfoTxt h2 {
        font-size: 1.5rem;
    }

    .coursePayment {
        margin: 0;
        width: 100%;
        height: 100%;
    }

    .coursePayment ul {
        width: 20rem;
    }
}

@media all and (max-width: 375px) {
    .courseInfoImg img {
        width: 90%;
    }

    .courseInfoTxt h1 {
        font-size: 1.5rem;
    }
}
