@import url('https://fonts.googleapis.com/css2?family=Arya:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

.container-grid {
    width: 100%;
    padding-top: 10rem;
    height: 75vh;
    text-align: center;
    align-items: center;
    display: inline-grid;
    grid-template-columns: 60% 30%;
    overflow: hidden;
}

.container-flex {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 25vh;
    align-items: center;
    width: 100%;
}

#logo {
    height: 15rem;
    width: 27rem;
}

.item {
    font-weight: 800;
    font-family: Lato, sans-serif;
    color: #4A5461;
    display: block;
    text-align: left;
    padding-left: 5rem;
    line-height: 2.5;
}

.item p {
    /*color: #8C8C8C;*/
    font-size: 1.4rem;
    font-family: Arya, serif;
    margin-left: 10px;
    font-weight: 300;
}

.item h1 {
    font-size: 3rem;
    font-weight: 800;

}

.input-group {
    font-family: Montserrat, sans-serif;
    width: 20rem;
}

.input-group-append .btn {
    align-items: center;
    justify-content: center;
    background: #731E1C;
    color: white;
    border-radius: 0 5px 5px 0;
}

.input-group-append .btn:hover {
    background: #8C8C8C;
}

.arrow {
    height: 70px;
    width: 70px;
    margin: -25px;
}

.arrows {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
}

.arrow-link {
    color: #4A5461;
}

.arrow-link:hover {
    color: #731E1C;
}

*:focus {
    box-shadow: none !important;
}

@media all and (max-width: 1090px) {
    .item {
        padding-left: 2rem;
    }

    .item p {
        font-size: 1rem;
    }

    .item h1 {
        font-size: 2.3rem;
    }

    #logo {
        height: 13rem;
        width: 24rem;
    }
}

@media all and (max-width: 966px) {
    .item {
        font-size: 0.1rem;
    }

    .item h1 {
        font-size: 2rem;
    }

    .input-group {
        width: 15rem;
    }

    #logo {
        height: 9rem;
        width: 16rem;
        margin-bottom: 1rem;
    }
}

@media all and (max-width: 668px) {
    .container-grid {
        display: flex;
        flex-direction: column;
        padding-top: 11rem;
    }

    .input-group {
        font-family: Montserrat, sans-serif;
        width: 10rem;
        /*font-size: 0.1rem;*/
    }

    ::-webkit-input-placeholder {
        font-size: 0.65rem;
    }

    ::-moz-placeholder {
        font-size: 0.65rem;
    }


    .item {
        padding: 0;
        margin: 0;
    }

    .item h1 {
        text-align: center;
        font-size: 2rem;
    }

    .item p {
        font-size: 1rem;
    }

    #logo {
        height: 9rem;
        width: 16rem;
        margin-bottom: 1rem;
    }
}

@media all and (max-width: 501px) {
    .item p {
        font-size: 1rem;
    }

    .item h1 {
        font-size: 2rem;
    }

    #logo {
        height: 9rem;
        width: 16rem;
        margin-bottom: 1rem;
    }
}

@media all and (max-width: 390px) {
    .item p {
        font-size: 0.7rem;
    }

    .item h1 {
        font-size: 1.5rem;
    }

    #logo {
        margin: 1rem;
    }
}