.App {
    text-align: center;
}

body{
    cursor: default;
    margin: 0;
    padding: 0;
}

body::-webkit-scrollbar
{
    width: 5px;
    height: 5px;
}

body::-webkit-scrollbar-thumb
{
    background-color: #731E1C;
}
