.iHeader h1{
    text-align: center;
    font-family: Montserrat, sans-serif;
    letter-spacing: 0.5rem;
    padding-top: 1.5rem;
    /*font-weight: bolder;*/
    text-transform: uppercase;
}

.num-container{
    display: grid;
    /*grid-template-columns: repeat(auto-fill, minmax(min(17rem, 100%), 1fr));*/
    grid-template-columns: repeat(3, 1fr);
}
.iCard{
    display: flex;
    justify-content: center;
    align-items: center;
}

.iNum{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 1;
    font-size: 8rem;
    color: #da8088;
    font-weight: bolder;
}

.iTitle {
    display: flex;
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
    z-index: 20;
    position: absolute;
    font-size: 2rem;
    color: #343a40;
    text-align: center;
    text-transform: uppercase;
    font-weight: 500;
}
@media all and (max-width: 1210px){
    .iTitle{
        font-size: 1.4rem;
    }
}

@media all and (max-width: 750px){
    .iTitle{
        font-size: 1rem;
    }
}

@media all and (max-width: 555px) {
    .iHeader h1{
        font-size: 1.8rem;
    }
    .num-container{
        grid-template-columns: repeat(2, 1fr);
    }
    .iNum{
        font-size: 5rem;
        font-weight: bold;
    }
    .iTitle{
        font-size: 1.2rem;
    }
}
@media all and (max-width: 445px) {
    .numRootContainer {
        height: fit-content;
    }
    .num-container{
        grid-template-columns: repeat(1, 1fr);
    }
    .iTitle{
        font-size: 1.4rem;
    }
}
